<div class="container1">
  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <i class="fa fa-trash" style="font-size:30px;cursor:pointer;position:absolute;right:0" (click)="removeItem($event, item)"></i>
      <h1>{{item.title}}</h1>
      <img *ngIf="item.url" src="{{item.url}}" alt="*" />
    </gridster-item>
  </gridster>
</div>
<div class="container2">
  <button (click)="addItem()">Add Item</button>
  <input type="text" [(ngModel)]="message">
  <!-- <div class="img-draggable" (dragstart)="onDragStart($event)" draggable="true">{{message}}</div> -->
  <div class="container3" *ngFor="let image of images">
    <img class="images" (dragstart)="onDragStart($event)" draggable="true" src="../../assets/Images/{{image}}" alt="*" />
  </div>
</div>
